*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    margin: 20px 0;  
    font-size: 3rem;
    text-align: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width:32% ;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}
img:hover{
    filter: grayscale(0%);
}

figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 25px;
    height: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(0deg ,rgba(0 ,0 ,0 ,0.5) 0%, rgba(255, 255, 255, 0 )100%);
    transition: 0.3s;
    opacity: 0;

}

.card:hover figcaption{
 opacity: 1;
 transform: scale(1.03);
}


@media (min-width: 1024px) {
    .container {
        width: 100%;
    }
    .card {
        width: 32%;
    }
}

/* 2 columns for medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    .card {
        width: 48%;
    }
}

/* 1 column for small screens (phones) */
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .card {
        width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
}